.programs{
display:flex;
justify-content: center;
align-items:center;

width:100%;
}
.text1{
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    font-weight: bold;
    font-size: 30px;
    color:blue;
    margin-top: -10px;
 
}
.text2{
    display:flex;
    padding-top: 70px;
    justify-content: center;
    align-items:center;
    width:100%;
    color:orange;
    font-weight: bold;
    font-size: 18px;

}
.program{
display:grid;
grid-template-columns: 200px 200px 200px;
  justify-content: center;
  row-gap: 20px;
  column-gap:50px;
  margin-top: 10px;
  margin-bottom: 60px;
  position: relative;
 

}
.program img{
    width:100%;
    object-fit:cover ;
    height:100%;
    border-radius: 10px;
    cursor:pointer;
    box-shadow: 0px 3px 6px rgb(0, 0, 0, 0.8);

    
  
}


.icon1{
position:absolute;
width:40px;
top:150px;
left:75px;
opacity: 0.7;
cursor:pointer;
  
}
.icon2{
    position:absolute;
    width:40px;
    top:150px;
    left:330px;
    opacity: 0.7;
    cursor:pointer;
      
    }
    .icon3{
        position:absolute;
        width:40px;
        top:150px;
        left:575px;
        opacity: 0.7;
        cursor:pointer;
        }
        
        .program h4{
            color:white;
            margin-top:4px;
            margin-left:-9px
        }
       
      
  
          /*   media query    */


       
        @media (max-width:760px){

            .program{
                grid-template-columns: 300px;
               margin-bottom: 20px;
            }
            .icon1{
                top:280px;
                left:115px;
                
                  
                }
            .icon2{
                top:540px;
                left:122px;
                
                  
                }
                .icon3{
                    top:950px;
                    left:115px;
                    }
        
                    .text2{
                        padding-top: 80px;
                        font-size: 16px;
                    }
                    .text1{
                      font-size: 25px;
                    }
        
                }
           
              